.post {
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  overflow: hidden;
}
.post__header {
  padding: 5px 0px;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}

.post__headerLeft {
  display: flex;
  align-items: center;
}

.profile__detail h3 {
  font-size: 17px;
  margin: 0;
  margin-left: 10px;
}
.profile__detail h3:hover {
  color: #0073b1;
}
.profile__detail p {
  font-size: 12px;
  margin: 0;
  margin-left: 10px;
}
.post__headerRight {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.post__headerRight:hover {
  cursor: pointer;
}

.post__body {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 7px;
  font-weight: normal;
  overflow-wrap: break-word;
  width: 100%;
  padding: 0px;
}
.post__body p {
  width: 90%;
  margin: auto;
  margin-bottom: 7px;
}
.post__body img {
  width: 100%;
  max-height: 400px;
  object-fit: contain;
  object-position: center;
}
.post__footer {
  display: flex;
  padding: 5px 0px;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
  border-top: 1px solid rgba(238, 232, 232, 0.938);
  padding-top: 2px;
}
.post__footer .option {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 110px;
  font-size: 14px;
  border-radius: 5px;
  padding: 5px 20px;
  text-align: center;
}
.post__footer .option svg {
  font-size: 20px;
  margin-right: 5px;
}
.post__footer .option:hover {
  cursor: pointer;
}
.reaction__section {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
}

.reaction__section span {
  color: grey;
  font-size: 12px;
  font-weight: 400;
  margin-left: 4px;
}
.reaction__section span svg {
  font-size: 8px;
  color: gray;
}
.reactions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 12px;
}
.reaction__section img {
  margin-left: -3px;
}

@media screen and (max-width: 430px) {
  .post__footer .option {
    padding: 5px 6px;
    width: 100%;
    font-size: 12px;
  }
}
@media screen and (max-width: 390px) {
  .post__footer .option {
    flex-direction: column;
    line-height: 16px;
  }
  .post__footer .option svg {
    margin-right: 0px;
  }
}
